@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

* {
  font-family: "Pixelify Sans", sans-serif;
  font-size: large;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 1rem 1rem;
  background-color: #b38b59;
  width: 100%;
}

nav {
  display: flex;
  gap: 1rem;
}

a {
  color: #62038e;
}

a:hover {
  cursor: pointer;
  color: #f3e4be;
}

footer {
  background-color: #b38b59;
  text-align: center;
  width: 100%;
  font-size: x-small;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

main {
  background-color: #e6c88a;
  padding-left: 1rem;
}

figcaption {
  font-style: italic;
}

p {
  color: #2b2b2b;
}
