main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #d29448;
  border: none;
  border-radius: 30px;
  padding: 0.1rem 1rem;
  width: fit-content;
}

h4 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #d29448;
  border: none;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  width: fit-content;
}

h2 img {
  width: 2rem;
}

h4 img {
  width: 1rem;
}

.section .jogo {
  width: 50%;
  padding: 0.5rem;
  background-color: #193d3f;
}

.listas .section h3 {
  background-color: #d84a3a;
}

.section {
  padding: 0.25rem;
}

.section h3 {
  display: flex;
  background-color: #4fb6d3;
  border-radius: 30px;
  border: none;
  padding: 0.1rem 1rem;
  width: fit-content;
}

aside h4 {
  display: flex;
  background-color: #4fb6d3;
  border-radius: 30px;
  border: none;
  padding: 0.1rem 1rem;
  width: fit-content;
  background-color: #c65aff;
}

.listas {
  padding-left: 1rem;
}

.itch-embed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.gameplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.5rem;
}

.jogar {
  width: 34rem;
  height: 10rem;
}

.cozinheiro {
  width: 4rem;
  height: 100%;
  position: relative;
  right: 21.8rem;
  top: 19.3rem;
}

.imagens-gameplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
