@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    font-family: "Pixelify Sans", sans-serif;
    font-size: large;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: rgb(99, 207, 221);
}

main {
    padding: 1rem;
}

body {
    padding: 0rem;
    margin: 0;
}
